* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lexend", sans-serif;
}

.header-section {
    /* a imagem se adapta e não dá pra usar scroll */
    height: 100vh;
    background-image: url(../img/banner.svg);
    background-repeat: no-repeat;
    background-size: cover;

    /* esse header organiza a parte de cima */
    & header {
        display: flex;
        justify-content: space-between;
        padding: 16px 92px;


        & nav {
            display: flex;
            gap: 40px;

            & a {
                color: #EFEFEF;
                font-size: 18px;
            }
        }

        .btns {
            display: flex;
            gap: 16px;

            /* muda a cor, borda e tamanho do botão */
            & a {
                padding: 11px 16px;
                border-radius: 8px;
                color: #EFEFEF;
                background-color: blue;
            }

            /* Coloca o botão transparente */
            & a:last-child {
                background-color: transparent;
                border: 3px solid #fff;
            }
        }
    }

    & #hero {
        margin-top: 114px;
        margin-left: 95px;
        color: #fff;

        & h1 {
            font-size: 48px;
            margin-bottom: 26px;
        }

        & p {
            width: 417px;
            font-size: 24px;
        }

        & a {
            display: inline-block;
            background-color: blue;
            padding: 16px 32px;
            border-radius: 8px;
            color: #fff;
            margin-top: 64px;
        }
    }

}

main {
    & #why-bigode-store {
        max-width: 915px;
        margin: auto;
        padding: 70px 0px;
        display: flex;
        gap: 60px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & .title {

            & p{
                font-size: 18px;
                color: #323232;
                width: 473px;
            }

            & h2 {
                margin-bottom: 16px;
                font-size: 36px;
                color: #181818;


            }
        }

        & .cards{
            display: flex;
            justify-content: space-between;

            & img{
                width: 94px;
            }
            & p{
                width: 94px;
            }

            & .card{
                width: 250px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 21px;
            }
        }
    }
}